@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

.banner {
  color: white;
  object-fit: contain;
  height: 600px;
}

.banner_contents {
  margin-left: 30px;
  padding-top: 140px;
  max-height: 190px;
  margin-top: 100px;
  display: flex;
}
.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  position: relative;
  top: 150px;
  margin-left: 50px;
}
.banner_description {
  width: 45rem;
  line-height: 1.6;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
  position: relative;
  top: 150px;
  margin-left: 50px;
}

.banner_button {
  position: relative;
  top: 150px;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  margin-left: 50px;
}

.banner_button:hover {
  color: black;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  position: relative;
  top: 253px;
}

.banner_buttons {
  display: flex;
}
@media screen and (max-width: 586px) {
  .banner--fadeBottom {
    position: relative;
    top: 292px;
    z-index: -1;
  }
  .banner_title {
    margin-left: 10px;
  }
  .banner_description {
    margin-left: 10px;
    max-width: 250px;
    display: flex;
  }
  .banner_button {
    margin-left: 10px;
  }
}
